.board-box {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20vh;
    height: 50rem;
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid black; */
}

.board-box h1 {
}   

.board-box .title {
    vertical-align: middle;
    position: relative;
    height: 10%;
}

.board-box .writer {
    background-color: #A5C9CA;
    color: aliceblue;
}

.writer ul > li {
    display: inline-block;
    padding: 0.5rem;
    float: right;
}

.writer ul {
    margin: 0;
}

.board-box .content {
    position: relative;
    height: 65%;
    margin-top: 3rem;
}

.board-box .comments {
    position: relative;
    height:  45%;
}