@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url("styles/fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff2") format('woff2'),
  url("styles/fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff") format('woff'),
  url("styles/fonts/NotoSansKR-WEB/NotoSansKR-Regular.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url("styles/fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff2") format('woff2'),
  url("styles/fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff") format('woff'),
  url("styles/fonts/NotoSansKR-WEB/NotoSansKR-Bold.otf") format('truetype')
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans CJK KR', 'Noto Sans JP';
}

body {
  margin: 0;
  background-color: white;
}


